@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}
.ant-spin-dot-holder {
  color: #ff5252 !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-button-prev {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: #ff5252;
}
.swiper-button-prev:after {
  font-size: 15px !important;
  color: white;
}
.swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: #ff5252;
}
.swiper-button-next:after {
  font-size: 15px !important;
  color: white;
}
.swiper-button-prev:hover {
  background: #d19494;
}
.swiper-button-next:hover {
  background: #d19494;
}
.swiper-button-next:hover::after {
  color: #fff;
}
.swiper-button-prev:hover::after {
  color: #fff;
}
