@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}
